<footer name="footerComponent">
  <ul>
    <li>
      <a
        routerLink="/about"
        (mouseenter)="navigateTo('about')">
        About
      </a>
    </li>
    <li>
      <a
        routerLink="/projects"
        (mouseenter)="navigateTo('projects')">
        Projects
      </a>
    </li>
    <li>
      <a
        routerLink="/production"
        (mouseenter)="navigateTo('production')">
        Production
      </a>
    </li>
    <li>
      <a
        routerLink="/fluff"
        (mouseenter)="navigateTo('fluff')">
        Fluff
      </a>
    </li>
    <li>
      <a
        routerLink="/contact"
        (mouseenter)="navigateTo('contact')">
        Contact
      </a>
    </li>
  </ul>
</footer>
