/* You can add global styles to this file, and also import other style files */

/* COLORS */
$android: #a4c639;
$angular: #dd0031;
$apple: #666666;
$bitbucket: #0747a6;
$bootstrap: #614789;
$codepen: #fcd000;
$css: #0c73b5;
$facebook: #496ab3;
$firebase: #ffca28;
$git: #f34f29;
$github: #24292e;
$grunt: #e48632;
$gulp: #cf4647;
$heroku: #6661a5;
$html: #e44d26;
$java: #e00000;
$javascript: gold;
$jira: #0052cc;
$jquery: #78cef4;
$linkedin: #0077b5;
$less: #1d365d;
$linux: #1c89bb;
$materializecss: #ee6e73;
$mongodb: #409d39;
$mysql: #00618a;
$nodejs: #8cc84b;
$npm: #c12127;
$php: #8892bf;
$python: #244d6f;
$react: #00d7ff;
$ruby: #cc342d;
$sass: #cf649a;
$trello: #2d6380;
$twitter: #1da1f2;
$windows: #0078d7;
