/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Pathway+Gothic+One');

html, body {
  background: #3c3b3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #3c3b3f, #605c3c); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #3c3b3f, #605c3c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

a, a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

app-footer {
  bottom: 0;
  display: flex;
  height: 15%;
  left: 0;
  position: fixed;
  width: 100%;
}

/* COLORS */
$android: #a4c639;
$angular: #dd0031;
$apple: #666666;
$bitbucket: #0747a6;
$bootstrap: #614789;
$codepen: #fcd000;
$css: #0c73b5;
$facebook: #496ab3;
$firebase: #ffca28;
$git: #f34f29;
$github: #24292e;
$grunt: #e48632;
$gulp: #cf4647;
$heroku: #6661a5;
$html: #e44d26;
$java: #e00000;
$javascript: gold;
$jira: #0052cc;
$jquery: #78cef4;
$linkedin: #0077b5;
$less: #1d365d;
$linux: #1c89bb;
$materializecss: #ee6e73;
$mongodb: #409d39;
$mysql: #00618a;
$nodejs: #8cc84b;
$npm: #c12127;
$php: #8892bf;
$python: #244d6f;
$react: #00d7ff;
$ruby: #cc342d;
$sass: #cf649a;
$trello: #2d6380;
$twitter: #1da1f2;
$windows: #0078d7;
